###################
# netbeans stuff
###################
build/*
dist/*
nbproject/*
build.xml
lib/*

###################
# Maven stuff
###################
**/target/*

###################
# netbeans stuff
###################
manifest.mf
setpath.bat
mvn.bat

###################
# Application data
###################
*.dat

###################
# Provided libs
###################
!lib/Basic*Lib*
